.App,
.Home,
.File {
    width: 100%;
    height: 100vh;
    padding: 20px 100px;
}

.FilesWithData {
    padding-bottom: 50px;
}

.App .text-app {
    margin-bottom: 20px;
    padding-top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.App .text-app h1 {
    text-align: center;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgba(215, 54, 26, 0.731);
}

a:hover {
    color: rgba(182, 53, 30, 0.731);
}


th {
    text-transform: capitalize;
}

.Home tbody tr:hover {
    cursor: pointer
}


.Home button {
    height: 40px;
    padding: 0 20px;
    margin: 20px 10px 20px 0;
    border: none;
    border-radius: 5px;
}

.Home button:active {
    opacity: 0.5
}

.Home button.isActive {
    color: white;
    background: rgba(215, 54, 26, 0.731);
}

.Home button.isNotActive {
    color: rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.1);
}

table td {
    /* height: 50px; */
    padding: 15px !important;
}



table thead th {
    height: 100%;
    padding: 15px !important;
}